body {
  background-color: #292c32;
}

.view {
  width: 700px;
  height: 500px;
  margin-bottom: 40px;
  
}

.image img {
  width: 500px; 
  height: 240px;
}

.view img {
  display: block;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/* 轮播样式 */
.swiper-button-next, .swiper-button-prev {
  background: #FFF;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 10px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 15px;
  font-weight: 600;
}

/* 图片点击 */
.view .image {
  margin-bottom: 10px;
  position: relative;
}

.view .dot-content {
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
}

.view .dot-content .dot {
  position: relative;
  cursor: pointer;
  background-color: #febe59;
  border: 2px solid #df3d3a;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  z-index: 100;
}

.view .dot-content .content {
  position: relative;
  font-size: 10px;
  padding: 5px;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.65);
}
